{% extends "base.html" %}
{% block titulo %} {{ titulo }} {% endblock %}
{% block nuevoC %}

<fieldset class="fNuevoUsuario">
<legend>Nuevos datos del contacto</legend>
	<form class="formEditarUsuario" action="dmls.php" method="post">
	
		<label for="iIdEditar">Numero: </label> 
        <input readonly="readonly" type="text" name="iIdEditar" id="iIdEditar" value={{datos.id}}><br>
        
		<label for="iNombreEditar">Nombre:</label> 
		<input type="text" name="iNombreEditar" id="iNombreEditar" value={{datos.nombre}}><br>
             
		<label for="iApellidoEditar">Apellido:</label> 
		<input type="text" name="iApellidoEditar" id="iApellidoEditar" value={{datos.apellido}}><br> 
			
		<label for="iTfnEditar">Telefono:</label>
		<input type="text" name="iTfnEditar" id="iTfnEditar" value={{datos.telefono}}><br>

		<label for="iCorreoEditar">Correo:</label>
		<input type="text" name="iCorreoEditar" id="iCorreoEditar" value={{datos.correo}}><br>
		
		<a href="lista_usuarios.php" ><img src="Imagenes/Volver.png" id="aVolverALista" alt="volver" title="volver"></a>
		<input type="submit" value="Editar" id="iSEditar">
		
	</form>
</fieldset>
{% endblock %}