{% extends "base.html" %}
{% block titulo %} {{ titulo }} {% endblock %}
{% block inicio %}
	<h3 id="hBienvenido">Bienvenido, {{ nombre }}</h2>
	<div class="containerIndex">
		<a href="nuevo_usuario.php" id="aNuevo"><img src="Imagenes/AddUser.png" id="aImgNuevo" style="height:256px; width:256px;"></a>
		<a href="lista_usuarios.php" id="aAgenda"><img src="Imagenes/Address.png" id="aImgAgenda" style="height:256px; width:256px;"></a>
	</div>	
{% endblock %}