{% extends "base.html" %}
{% block titulo %} {{ titulo }} {% endblock %}

{% block encontrado %}
	<table border="1" class="tListaTodos" >
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Telefono</th>
		<th>Correo</th>
		<th>Editar</th>
		<th>Borrar</th>
	{%if datos %}
		{% for c in datos %}
			<tr>
				<td>{{ c[1] }}</td>
				<td>{{ c[2] }}</td>
				<td>{{ c[3] }}</td>
				<td>{{ c[4] }}</td>
				<td class="cEditar"><a href="editar.php?id={{ c[0] }}"><img src='Imagenes/Edit.png' alt='Editar' title='Editar'></td>
				<td class="cEditar"><a href="eliminar_seleccionado.php?id={{ c[0] }}"><img src='Imagenes/Trash.png' alt='Borrar' title='Borrar'></td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}
	{% if datoid %}
		{% for c in datoid %}
			<tr>
				<td>{{ c[1] }}</td>
				<td>{{ c[2] }}</td>
				<td>{{ c[3] }}</td>
				<td>{{ c[4] }}</td>
				<td class="cEditar"><a href="editar.php?id={{ c[0] }}"><img src='Imagenes/Edit.png' alt='Editar' title='Editar'></td>
				<td class="cEditar"><a href="eliminar_seleccionado.php?id={{ c[0] }}"><img src='Imagenes/Trash.png' alt='Borrar' title='Borrar'></td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}
{% endblock %}