{% extends "base.html" %}

{% block ordena %}
	<a href="lista_usuarios.php?asc=ok" class="aListaAsc">
	<img src="Imagenes/Asc.png" alt="Ascencente" title="Ordenar ascencente"></a>
	<a href="lista_usuarios.php?desc=ok" class="aListaDesc">
	<img src="Imagenes/Desc.png" alt="Descendente" title="Ordenar descencente"></a>	
{% endblock %}

{% block nuevo %}
	<table border="1" class="tListaTodos" >
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Telefono</th>
		<th>Correo</th>
		<th>Editar</th>
		<th>Borrar</th>
	{% for c in datos %}
		<tr>
			<td>{{ c[1] }}</td>
			<td>{{ c[2] }}</td>
			<td>{{ c[3] }}</td>
			<td>{{ c[4] }}</td>
			<td class="cEditar"><a href="editar.php?id={{ c[0] }}"><img src='Imagenes/Edit.png' alt='Editar' title='Editar' ></td>
			<td class="cEditar"><a href="eliminar_seleccionado.php?id={{ c[0] }}"><img src='Imagenes/Trash.png' alt='Borrar' title='Borrar' class="cEditar"></td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}