/*Generales-----------------------------------------------*/

body{
	font: 14px Arial;
	background-color:#989898;
}

a{
	text-decoration: none;
}

li{
	list-style-type: none;
}


/*Home
---------------------------------------------*/
.containerIndex{
	width: 800px;
	margin: 150px auto;
	text-align: center;
	margin-top: 250px;
}

h3#hBienvenido{
	position: absolute;
	left: 150px;
	top: 65px;
	font-style: italic;
}

.dUlHead{
	background-color: white;
	position: absolute;
	width: 100%;
	height: 120px;
	top: 0px;
	left: 0px;
}

.dUlHead h1{
	position: absolute;
	left: 100px;
	font-size: 3em;
}

.ulHead{
	position: absolute;
	right: 50px;
	width: 700px;
	height: 80%;
	padding-left: 0px;
	top: 0px;
	
}

.ulHead li{
	list-style-type: none;
	float: left;
	padding-right: 40px;
	height: 100%;
	border-left: solid white;
	width: 95px;	
	background-color: #A61700;
}

.ulHead a{
	height: 100%;
	width: 20%;
	text-decoration: none;
	color: white;
	font-size: 1.3em;
}

.ulHead li:hover{
	background-color: #989898;
}

.ulHead a#aIndice{
	position:absolute;
	top: 0px;
	left: 0px;
	line-height: 5em;
	text-align: center;
}

.ulHead a#aAnadir{
	position:absolute;
	top: 0px;
	left: 140px;
	text-align: center;
	line-height: 5em;
	
}

.ulHead a#aAgenda{
	position:absolute;
	top: 0px;
	left: 275px;
	line-height: 5em;
	text-align: center;
}

.ulHead a#aBorrar{
	position:absolute;
	top: 0px;
	left: 413px;
	line-height: 5em;
	text-align: center;
}

.ulHead a#aSalir{
	position:absolute;
	top: 0px;
	left: 550px;
	text-align: center;
	line-height: 5em;
}

.containerIndex a#aNuevo{
	float: left;
	margin-left: 70px;
	padding-right: 100px;
}



/*Nuevo usuario ------------------------------------------*/

fieldset.fNuevoUsuario{
	width: 650px; 
	border-radius: 5px;
	padding: 20px; 
}

.dNuevoContacto{
	position: absolute;
	top: 200px;
	width: 700px;
	color:white;
	left: 285px;
	font-size: 1.2em;
	font-weight: 600;
}

.dNuevoContacto form label{
	clear: left;
	display:block;
}

input#iNombreUsuario, input#iApellidoUsuario, input#iTfnUsuario, input#iCorreoUsuario{
	margin-right: 20px;
	display:block;
	width: 600px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 2em;
	border-radius: 2px;
}


input#iSubmitNuevoContacto{
	background-color: #282828;
	color: graytext;
	border-color: graytext;
	font-size: 1.1em;
	margin-top: 15px;
	margin-left: 530px;
	padding: 5px;
	border-radius: 3px; 
}


.fBusqueda {
	position: absolute;
	width: 800px;
	top: 70px;
	left: 140px;	
}


/*Lista de usuarios
---------------------------------------------*/

.containerPral{
	width: 950px;
	background-color: white;
	position: absolute;
	top: 120px;
	left: 200px;
	height: 1000px;
}

/*
.dCuadroBusqueda{
	position: relative;
	padding-left: 125px;
}
*/

.dOrden a{
	margin-left: 180px;
}

.dOrden{
	position: absolute;
	top: 170px;
	left: 280px;
	width: 700px;
}


.tListaTodos, .tListaNombre{
	width: 700px;
	position: absolute;
	top: 250px;
	border-collapse: collapse;
	left: 280px;
	border-color: #484848;
	color: white;
}

a.aMostrarTodos{
	position:absolute;
	top: 115px;
	left: 25px;
	text-decoration: none;
	background-color: #484848;
	padding: 5px 10px;
	color:white;
	border-radius: 5px;
	font-weight: bold;
}

.tListaTodos th, .tListaNombre th{
	height: 2.5em;
	text-align: center;
	color: #383838;
	background-color: #D8D8D8;
	border-color: #e8e8e8;
	border-top-color: #D8D8D8;
}

td{
	padding-left: 5px;
	border-color: #484848;
	height: 2em;
	background-color: #383838;
}

.cEditar{
	text-align: center;
}


/*Editar --------------------------------------*/

input#iIdEditar, input#iNombreEditar, input#iApellidoEditar, input#iTfnEditar, input#iCorreoEditar{
	margin-right: 20px;
	display:block;
	width: 600px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 2px;
	height: 1.7em;
	border-radius: 2px;
	font-size: 1.1em
}

img#aVolverALista{
	color: #484848;
	margin-left: 30px;
	display:inline;
	position: absolute;
	top: 440px;
}

input#iSEditar{
	position: absolute;
	margin-left: 560px;
	background-color: #282828;
	color: graytext;
	border-color: graytext;
	font-size: 1.1em;
	padding: 3px;
	border-radius: 3px; 
	top: 445px;
}


/*Login --------------------------------------------------*/

.fsLogin{
	position: absolute;
	top: 250px;
	left: 450px;
	width: 400px;
	height: 200px
}

.fsLogin input[type='text'], input[type='password']{
	width: 390px;
	margin-top: 20px;
	font-size: 1.5em;
}

.fsLogin input[type='submit']{
	position:absolute;
	right: 5px;
	bottom: 50px;
	background-color: #282828;
	color: graytext;
	border-color: graytext;
	font-size: 1.1em;
	padding: 3px;
	border-radius: 3px; 
}

.h1Info{
	position: absolute;
	top: 150px;
	left: 450px;
}

h3.h3Info{
	position: absolute;
	top: 200px;
	left: 450px;
	color: white;
}
